<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="/js/app.js"></script>
<script src="/js/model/user.js"></script>
<script src="/js/model/post.js"></script>
<script src="/js/model/group.js"></script>
<script src="/js/controller/auth.js"></script>

<div class="container" ng-controller="AuthController as auth">
	<div class="row">
		<div class="col-md-6">
			<form>
				<div class="form-group">
					<label for="login.email">Seu email</label>
					<input class="form-control" id="login.email" type="text" ng-model="login.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="login.password">Sua senha</label>
					<input class="form-control" id="login.password" type="password" ng-model="login.password" placeholder="Senha">
				</div>
				<button class="btn btn-default" ng-click="auth.verify()">Login</button>
			</form>
		</div>
		<div class="col-md-6">
			<form>
				<div class="form-group">
					<label for="create.name">Seu nome</label>
					<input class="form-control" id="create.name" type="text" ng-model="create.name" placeholder="Nome">
				</div>
				<div class="form-group">
					<label for="create.email">Seu email</label>
					<input class="form-control" id="create.email" type="text" ng-model="create.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="create.password">Sua senha</label>
					<input class="form-control" id="create.password" type="password" ng-model="create.password" placeholder="Senha">
				</div>
				<button class="btn btn-default" ng-click="auth.create()">Criar</button>
			</form>
		</div>
	</div>
	<h3>Importação de dados</h3>
	<div class="row">
		<div class="col-md-4">
			<h4>Usuarios:</h4>
			<textarea class="form-control" rows="15">
[{
	name : "Mauricio",
	email : "mauricio.c.giordano@gmail.com",
	password : "mauricio"
}, {
	name : "Patrick",
	email : "patrick@gmail.com",
	password : "patrick"
}, {
	name : "Manuel",
	email : "manuel@gmail.com",
	password : "manuel",
	following : ["patrick@gmail.com"]
}]
</textarea>
			<button class="btn btn-default">Importar</button>
		</div>
		<div class="col-md-4">
			<h4>Postagens:</h4>
			<textarea class="form-control" rows="15">
[{
	title : "Post do Mauricio",
	text : "Algum texto bacana",
	owner : "mauricio.c.giordano@gmail.com"
}, {
	title : "Post do Patrick",
	text : "Algum outro texto muito bacana",
	owner : "patrick@gmail.com",
	likes : ["manuel@gmail.com"]
}]
</textarea>
			<button class="btn btn-default">Importar</button>
		</div>
		<div class="col-md-4">
			<h4>Grupos:</h4>
			<textarea class="form-control" rows="15">
[{
	name : "Grupo Massa",
	owner : "mauricio.c.giordano@gmail.com",
	users : ["patrick@gmail.com", "manuel@gmail.com"]
}]
</textarea>
			<button class="btn btn-default">Importar</button>
		</div>
	</div>
</div>
