<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/all.css" />
<link rel="stylesheet" href="css/people.css" />
<script src="js/app.js"></script>
<script src="js/model/user.js"></script>
<script src="js/model/post.js"></script>
<script src="js/model/group.js"></script>
<script src="js/controller/navbar.js"></script>
<script src="js/controller/people.js"></script>

<nav ng-controller="NavbarController as navbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SCC0219</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
				<ul class="nav navbar-nav">
					<li><a href="/feed">Postagens</a></li> 
					<li><a href="/groups">Grupos</a></li> 
					<li class="active"><a href="/people">Pessoas</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/profile">Perfil</a></li>
					<li><a href="#" ng-click="navbar.logout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div ng-controller="PeopleController as people" class="container container-main">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="input-group">
		      <input type="text" class="form-control" id="key" ng-model="key" placeholder="Nome ou Email">
		      <span class="input-group-btn">
		        <button class="btn btn-default" ng-click="people.searchPeople()" type="button">Buscar</button>
		      </span>
		    </div><!-- /input-group -->
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="height: 40px"> 
		</div>
	</div>
	<div class="row users" ng-repeat="user in peoplefound" ng-show="user">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<legend>
				<img class="picture" src="{{ user.loadImage() || 'http://goo.gl/xZnyXV' }}" />
				<span>{{ user.name }}</span> <b ng-show="user.id == authUser.id">(Eu)</b>
			</legend>
			<p><b>Email:</b> {{ user.email }}</p>

			<a href="feed#/{{ user.id }}">
				<button class="btn btn-default btn-xs"> Ver postagens </button>
			</a>

			<a href="profile#/{{ user.id }}">
				<button class="btn btn-info btn-xs"> Ver perfil </button>
			</a>

			<button class="btn btn-default btn-xs" ng-click="people.follow(user)" ng-show="user.id != authUser.id && !authUser.isFollowing(user)"> Seguir </button>
			<button class="btn btn-default btn-xs" ng-click="people.unfollow(user)" ng-show="user.id != authUser.id && authUser.isFollowing(user)"> Parar de Seguir </button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row users" ng-show="key_aux!='' && key_aux!=undefined && peoplefound==''">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" align="center">
			<span>Nenhum usuário encontrado!</span>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
